# Code-along 2024-07-09 Analyzing Euro 2024 Soccer Data in SQL

Today, we are going to explore some data of the EURO 2024 which is still ongoing at the time of writing and working through this.
You will work with a dataset that was sourced from the `sportmonks` API (with some adjustments)


### Problem Context:

**Your boss** is invited to garden party of **his boss who is a huge soccer fan**. However, **your boss has no idea about soccer**. He would like to have at least a few interesting **facts about EURO 2024** that he can mention so that **he doesn't look like a complete loser** during the conversations.



**We will cover the following**

- üïµÔ∏è‚Äç‚ôÄÔ∏è Exploratory data analysis --> How does the data look like and can we discover potential issues?
- üîß Data modeling --> Bring the data into a format that makes it easier for us to analyze
- ü§ø Deep dive analysis: Game events and goals
- üìä Based on what we found - see how things could be monitored in a [EURO 2024 dashboard in Metabase](https://www.metabase.com/gallery/uefa-euro-2024-stats-dashboard?utm_source=datacamp&utm_medium=post&utm_campaign=euro-2024-dashboard)



Mixture of walk through + tasks for you ü´µ

## Task 0: Setup üõ†Ô∏è

<details>
    <summary>Details</summary>
  <p>
      
For this analysis we only need the CSV files with some data from the EURO 2024 tournament.
      
* `game_events.csv` -> Events that happened during a game
      
Make sure that you have the CSV files mentioned above in your environment.  
We will use datalab's duckdb integration to analyze the files with SQL.

_The data is sourced and adjusted from [sportmonks](https://docs.sportmonks.com/football)_
      
  </p>
</details>

## Task 1:  Get an understanding of your AUDIENCE and what you want to achieve

Before diving into a dataset, we should set ourselves a clear goal on what we want to achive.   
Otherwise, we might end in some rabbit holes easily üêáüï≥Ô∏è.


In this session we want to understand more about goals since this is what everyone talks about at a garden party (or not?) ü™¥

* When are they scored?
* Commentators often talk about "jokers" that substituted late in the game -> Can we see some effects in the data?


## Task 2: Have a brief look at the data üëÄ

When we look at the data we try to already get a glimbse of it, e.g.:

* What data (columns) do we have available? Do we know what they are?
* Can we already see a row count?
* Missing values and where they occur

In [1]:
SELECT * FROM 'game_events.csv' LIMIT 100;

           id                                game  ... participant_id fixture_id
0   116213644     Romania vs Ukraine (2024-06-17)  ...          18638   19032635
1   116213524     Romania vs Ukraine (2024-06-17)  ...          18624   19032635
2   116213531     Romania vs Ukraine (2024-06-17)  ...          18638   19032635
3   116213571     Romania vs Ukraine (2024-06-17)  ...          18624   19032635
4   116213583     Romania vs Ukraine (2024-06-17)  ...          18624   19032635
..        ...                                 ...  ...            ...        ...
95  116609359     Portugal vs France (2024-07-05)  ...          18701   19032602
96  116607589     Portugal vs France (2024-07-05)  ...          18647   19032602
97  116609342     Portugal vs France (2024-07-05)  ...          18647   19032602
98  116609345     Portugal vs France (2024-07-05)  ...          18701   19032602
99  116635387  Netherlands vs Turkey (2024-07-06)  ...          18716   19032603

[100 rows x 17 columns]

| Field               | Description                                         | Type          |
|---------------------|-----------------------------------------------------|---------------|
| id                  | Refers to the unique id of the type                | integer       |
| game          | The name of the game          | string       |
| event_type          | The type of event   | string       |
| created_at          | The time when the event happened         | timestamp       |
| team_name          | The name of the team related to the event      | string       |
| player_name          | The name of the player that performed the event or to whom it happened          | string       |
| related_player_name          | The name of the player who is related to the event that `player_name` performed          | string       |
| result          | The result after the event happend    | string       |
| minute          | The game minute in which the event happened        | integer       |
| extra_minute    | The additional minutes in which the event happened (e.g. for 90+2 this would be 2)         | integer       |
| previous_player_event    | The `event_type` of the previous event that happened to the player        | string       |
| previous_player_event_at | The timestamp of the previous event that happened to the player        | timestamp       |
| seconds_after_previous_event | The seconds after the previous event happened to the player        | integer       |
| player_id          | The id of the player that performed the event or to whom it happened       | integer       |
| related_player_id          | The id of the player who is related to the event that `player_name` performed          | integer       |
| participant_id          | The id of the team related to the event          | integer       |
| fixture_id          | The id of the game the event happened in      | integer       |

## Task 3: üïµÔ∏è‚Äç‚ôÄÔ∏è Exploratory data analysis

Now, we want to further understand the data we work with and potential issues it has.  
For that, a good start is to look at
* Row count
* Duplicates
* Missing values
* Value distributions (i.e. can we see any weird outliers)

### Row counts and uniqueness
Let's start by looking at the row counts

In [2]:
SELECT COUNT(1) AS rows,
       COUNT(DISTINCT id) AS unique_ids
FROM 'game_events.csv'

   rows  unique_ids
0   838         838

### Summary stats
Let's look at the separate tables and their columns using the `SUMMARIZE` function.

In [3]:
SUMMARIZE SELECT * FROM 'game_events.csv'

                     column_name column_type  ... count null_percentage
0                             id      BIGINT  ...   838            0.0%
1                           game     VARCHAR  ...   838            0.0%
2                     event_type     VARCHAR  ...   838            0.0%
3                     created_at   TIMESTAMP  ...   838            0.0%
4                      team_name     VARCHAR  ...   838            0.0%
5                    player_name     VARCHAR  ...   838            0.0%
6            related_player_name     VARCHAR  ...   838          37.11%
7                         result     VARCHAR  ...   838          84.25%
8                         minute      BIGINT  ...   838            0.0%
9                   extra_minute      BIGINT  ...   838            0.0%
10         previous_player_event     VARCHAR  ...   838          85.92%
11      previous_player_event_at   TIMESTAMP  ...   838          85.92%
12  seconds_after_previous_event      DOUBLE  ...   838          85.92%
13                     player_id      BIGINT  ...   838           1.43%
14             related_player_id      BIGINT  ...   838          37.11%
15                participant_id      BIGINT  ...   838            0.0%
16                    fixture_id      BIGINT  ...   838            0.0%

[17 rows x 12 columns]

### Distributions

In [4]:
-- Distribution of "minute" values
SELECT minute,
   COUNT(1) AS events
FROM 'game_events.csv'
GROUP BY minute

     minute  events
0        62      19
1        67      18
2        75      24
3        79      11
4        29       5
..      ...     ...
105      19       1
106      36       2
107      12       1
108      40       1
109      98       1

[110 rows x 2 columns]

* Seems that most events happen in the 2nd half of the game
* There are many events in the 90th minute - are those outliers or data issues?

Let's check what type of events happen in the 90th minute.

In [1]:
-- Events in minute 90
SELECT 
     event_type,
	 COUNT(*) AS events
FROM 'game_events.csv'
WHERE minute = 90
GROUP BY 1
ORDER BY 2 DESC

     event_type  events
0    Yellowcard      32
1  Substitution      29
2          Goal      12
3       Redcard       2
4           VAR       1

### ü´µ Your turn: Distribution of `extra_minute`

Try to create a similar plot as above but this time we look at the distribution of `extra_minute`.  
Before running your query: What would you expect and why?

([2 minutes time](https://www.google.com/search?q=timer+2+minutes&oq=timer+2+m&gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyBwgBEC4YgAQyCQgCEEUYORiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIHCAcQABiABDIHCAgQLhiABDIHCAkQABiABKgCALACAA&sourceid=chrome&ie=UTF-8))

<details>
  <summary>Solution</summary> 
  <p>
   
   ```sql
   -- SOLUTION
    SELECT 
        extra_minute,
        count(1) as events
    FROM 'game_events.csv'
    GROUP BY 1
   
   ```
      
  </p>
</details>

In [2]:
-- Distribution of "extra_minute"
SELECT 
    extra_minute,
     COUNT(1) AS events
FROM 'game_events.csv'
GROUP BY 1

    extra_minute  events
0              0     763
1              2      16
2              5       7
3              9       1
4             11       1
5             10       1
6              6       5
7              3      13
8              4      12
9              1      13
10             8       4
11             7       2

## Task 4: Data modelling for easier analysis

Modelling data by joining tables and pre-calculating metrics for data analytics purposes can be good investment upfront to save time down the road. Let's try to create some data models that can be useful for our analysis.

### Hold on - First, let's cover some special things
First, we cover some special functions that we are going to use.

Let's look at the [lpad function](https://duckdb.org/docs/sql/functions/char#lpadstring-count-character)

In [1]:
-- lpad function: Pads the `string` with the `character` from the left until it has `count` characters.
-- Syntax:  lpad(string, count, character)
SELECT 
	lpad(1, 1, '0'),
	lpad(1, 2, '0'),
	lpad(1, 3, '0'),
	lpad('01', 2, '0'),
	lpad(10, 2, '0'),
	lpad(100, 2, '0'), -- WARNING! THIS IS TRIMMED TO "10"

  lpad(1, 1, '0') lpad(1, 2, '0')  ... lpad(10, 2, '0') lpad(100, 2, '0')
0               1              01  ...               10                10

[1 rows x 6 columns]

--> This is useful when you want to make a number string sortable

In [11]:
WITH data as (
	SELECT '1' as col
	UNION ALL
	SELECT '5' as col
	UNION ALL
	SELECT '10' as col
	UNION ALL
	SELECT '100' as col
)

SELECT * FROM data
ORDER BY col

   col
0    1
1   10
2  100
3    5

In [14]:
-- Prefixing the numbers with empty strings using lpad helps fix the ordering
WITH data as (
	SELECT lpad('1', 3, ' ') as col
	UNION ALL
	SELECT lpad('5', 3, ' ') as col
	UNION ALL
	SELECT lpad('10', 3, ' ') as col
	UNION ALL
	SELECT lpad('100', 3, ' ') as col
)

SELECT * FROM data
ORDER BY col

   col
0    1
1    5
2   10
3  100

Now, a small trick for creating histograms

In [15]:
/*
We can easily bucket numeric values for histograms using this approach:

ceil(<field> / <bucket_size>) * <bucket_size> as ceil_bucket
*/

-- Example: Bucket size 5 minutes
WITH buckets AS (
	SELECT DISTINCT
		minute,
		minute / 5,
		ceil(minute / 5),
		ceil(minute / 5) * 5 as ceil_bucket
	FROM 'game_events.csv'
	ORDER BY minute
)

SELECT * FROM buckets

     minute  ("minute" / 5)  ceil(("minute" / 5))  ceil_bucket
0         1             0.2                   1.0          5.0
1         2             0.4                   1.0          5.0
2         3             0.6                   1.0          5.0
3         4             0.8                   1.0          5.0
4         5             1.0                   1.0          5.0
..      ...             ...                   ...          ...
105     115            23.0                  23.0        115.0
106     117            23.4                  24.0        120.0
107     118            23.6                  24.0        120.0
108     119            23.8                  24.0        120.0
109     120            24.0                  24.0        120.0

[110 rows x 4 columns]

### Now let's create our data model

What we want to fix:

* `minute` and `extra_minute` on their own are not really usable. Let's combine them to a `game_minute` categories ( e.g. `90 + 5`)
* We don't need to know in which exact minute an event happened but rather in which time ranges. Let's bucket the game minutes into buckets of 5 minutes

In [2]:
COPY (
	WITH goal_events_with_minute_string as (
		SELECT 
			*,							
			-- Use lpad for better sorting behavior (e.g. 1 -> '  1')
			lpad(minute, 3, ' ') as minute_str_sortable,
		FROM 'game_events.csv'
		WHERE event_type = 'Goal'
	)

	select 
		*,
		CASE 
			WHEN extra_minute = 0 THEN minute_str_sortable
			ELSE concat(minute_str_sortable, ' + ', extra_minute)
		END AS game_minute,
		CASE
			-- We simplify overtime and move it into a "OT" bucket
			WHEN minute > 90 THEN 'OT'
			-- For extra minutes, we use 45+, 90+, etc.
			WHEN extra_minute != 0 THEN concat(minute_str_sortable, ' +')
	 		-- Use lpad for better sorting behavior (e.g. 1 -> '  1')
			ELSE lpad(
				(ceil(minute / 5) * 5)::int,
				3,
				' '
			)
		END AS game_period_bucket
	FROM goal_events_with_minute_string
) TO 'goals.csv' (HEADER, DELIMITER ',');

SELECT * FROM 'goals.csv'

            id  ... game_period_bucket
0    116213507  ...                 60
1    116213493  ...                 55
2    116213437  ...                 30
3    116479263  ...                 70
4    116478811  ...                 55
..         ...  ...                ...
103  116182305  ...                 20
104  116182567  ...                 30
105  116184468  ...                 85
106  116632419  ...                 80
107  116632334  ...                 75

[108 rows x 20 columns]

## Task 5: Deep dive into goals

### ü´µ Your turn

#### When are they scored?

Count the number of goals per `game_period_bucket` and create a bar chart using the `goals.csv` table.

Bonus: Figure out what the fastest goal was

([3 minutes time](https://www.google.com/search?q=timer+3+minutes&oq=timer+3+m&gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyBwgBEC4YgAQyCQgCEEUYORiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIHCAcQABiABDIHCAgQLhiABDIHCAkQABiABKgCALACAA&sourceid=chrome&ie=UTF-8))

<details>
  <summary>Hints</summary> 
  <p>
      
Group by the `game_period_bucket` and count the rows 
      
  </p>
</details>

In [3]:
WITH counts AS (
SELECT 
      game_period_bucket,
      COUNT(1) AS cnt
FROM 'goals.csv'
GROUP BY 1
ORDER BY 1
)

SELECT * FROM counts

   game_period_bucket  cnt
0                   5    4
1                  10    4
2                  15    6
3                  20    8
4                  25    5
5                  30    7
6                  35    4
7                  40    4
8                  45    1
9                45 +    3
10                 50    2
11                 55    8
12                 60    7
13                 65    2
14                 70   10
15                 75    4
16                 80    9
17                 85    4
18                 90    2
19               90 +   12
20                 OT    2

<details>
  <summary>Solution</summary> 
  <p>
   
   ```sql
   -- SOLUTION

    WITH counts as (
        select 
            game_period_bucket,
            count(1) as cnt
        from 'goals.csv'
        group by 1
        order by 1
    )

    select
        *
    from counts
   
   ```
      
  </p>
</details>

#### Fastest goal

<details>
  <summary>Hints</summary> 
  <p>
      
  - Use the `tmp_goals.csv` table
  - You want to order by the `game_minute` column
  - Using `LIMIT` can reduce the number of results you return if you are only interested in top X results
      
  </p>
</details>

In [4]:
SELECT 
      game,
	  player_name, 
	  game_minute
FROM 'goals.csv'
ORDER BY game_minute
LIMIT 10

                                  game            player_name game_minute
0       Austria vs Turkey (2024-07-02)          Merih Demiral           1
1        Italy vs Albania (2024-06-15)          Nedim Bajrami           1
2     Georgia vs Portugal (2024-06-26)  Khvicha Kvaratskhelia           2
3      Belgium vs Romania (2024-06-22)        Youri Tielemans           2
4  Netherlands vs Austria (2024-06-25)          Donyell Malen           6
5     Belgium vs Slovakia (2024-06-17)           Ivan Schranz           7
6       Poland vs Austria (2024-06-21)         Gernot Trauner           9
7     Germany vs Scotland (2024-06-14)          Florian Wirtz          10
8        Italy vs Albania (2024-06-15)     Alessandro Bastoni          11
9      Croatia vs Albania (2024-06-19)             Qazim Laci          11

<details>
  <summary>Solution</summary> 
  <p>
   
   Nedim Bajrami scored his goal within the first minute!
This specific goal was within 23 seconds which is the fastest goal ever scored by a European Championship.
You can see it [here](https://www.uefa.com/euro2024/news/0253-0d7dce47a88e-fed163e1fdf2-1000--who-scored-the-fastest-goals-at-uefa-european-championsh/).
      
   ```sql
   -- SOLUTION

    SELECT
        game,
        player_name,
        game_minute
    FROM 'goals.csv'
    ORDER BY game_minute
    LIMIT 10
   
   ```
      
  </p>
</details>

### "Jokers" and their impact

Often coaches use the term "joker" for some of their players.   
They usually use that for players they can substitute and they will likely score a goal.  
Let's see how many of those goals we can actually find.

Let's classify a goal as "joker goal" if:

* The player's last event was a substitution 
* The goal happened within 15 minutes (900s) after the substitution

In [1]:
WITH counts as (
	select 
		game_period_bucket,
		case
			-- Joker goal if player was substituted within 15 minutes prior to scoring
			when 
				previous_player_event = 'Substitution' 
				and seconds_after_previous_event <= 900 
			then 'joker goal'
			else 'normal goal'
		end as goal_type,
		count(1) as cnt
	from 'goals.csv'
	group by 1, 2
	order by 1
)

select
	*
from counts

   game_period_bucket    goal_type  cnt
0                   5  normal goal    4
1                  10  normal goal    4
2                  15  normal goal    6
3                  20  normal goal    8
4                  25  normal goal    5
5                  30  normal goal    7
6                  35  normal goal    4
7                  40  normal goal    4
8                  45  normal goal    1
9                45 +  normal goal    3
10                 50  normal goal    2
11                 55  normal goal    8
12                 60  normal goal    7
13                 65  normal goal    2
14                 70   joker goal    1
15                 70  normal goal    9
16                 75  normal goal    4
17                 80   joker goal    2
18                 80  normal goal    7
19                 85  normal goal    3
20                 85   joker goal    1
21                 90  normal goal    2
22               90 +  normal goal    8
23               90 +   joker goal    4
24                 OT  normal goal    2

## Bonus: üìä Use a dashboard to monitor the EURO 2024 results

Here is an example dashboard build with Metabase (an easy to use OSS BI tool):

[https://www.metabase.com/gallery/uefa-euro-2024-stats-dashboard](https://www.metabase.com/gallery/uefa-euro-2024-stats-dashboard?utm_source=datacamp&utm_medium=post&utm_campaign=euro-2024-dashboard)


üéì There will also be another [webinar](https://www.metabase.com/events/euro-2024-dashboard) (2024-07-23) on how we build this where you can learn more about building dashboards.

## ü´µ Homework

### What game had the most goals?

In [1]:
SELECT game, 
       count(1) AS goals
FROM 'goals.csv'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10

                                      game  goals
0         Germany vs Scotland (2024-06-14)      6
1      Netherlands vs Austria (2024-06-25)      5
2            Spain vs Georgia (2024-06-30)      5
3          Croatia vs Albania (2024-06-19)      4
4           Poland vs Austria (2024-06-21)      4
5           Turkey vs Georgia (2024-06-18)      4
6      Hungary vs Switzerland (2024-06-15)      4
7  Portugal vs Czech Republic (2024-06-18)      3
8            Spain vs Germany (2024-07-05)      3
9          Turkey vs Portugal (2024-06-22)      3

<details>
  <summary>Solution</summary> 
  <p>
      
  ```sql
    -- SOLUTION
    SELECT
        game,
        count(1) as goals
    FROM 'goals.csv'
    GROUP BY 1
    ORDER BY 2 DESC
    LIMIT 10
  ```
      
  </p>
</details>

### How many goals are there usually per game?

Try to create a bar plot that shows the distribution of goals per game.  
Use this template to get started:


```sql
WITH goals_per_game as (
	select 
		fixture_id,
		count(1) as goals
	from 'tmp_goals.csv'
	group by 1
	order by 1
)

select
	goals,
    COUNT(1) AS cnt
from goals_per_game
GROUP BY 1
ORDER BY 2

```